.form-input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    transition: all 200ms;
}

.form-input:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 2px rgba(var(--secondary-rgb), 0.2);
    outline: none;
} 