.form-input {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    transition: all 200ms;
}

.form-input:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 0.2;
    --tw-ring-color: rgb(var(--secondary-color) / var(--tw-ring-opacity));
    border-color: rgb(var(--secondary-color));
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition: all 300ms;
}

.contact-card:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.icon-container {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(var(--secondary-color) / 0.1);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 300ms;
}

.contact-card:hover .icon-container {
    transform: scale(1.1);
    background-color: rgb(var(--secondary-color) / 0.2);
} 